
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    background: linear-gradient(to left, pink , rgb(99, 228, 189));
}
h1, h2, h3{
    margin: 5rem;
}